
  <div class="card col-xs-12" >
    <div class="card-body">
      <h5 class="card-title">Nosso sistema é proativo</h5>
      <p class="card-text">O sistema LicitaNÃO gera ofícios regularmente aos órgãos: <b><a href="http://www.mpf.mp.br/para-o-cidadao/sac"> Ministério Público Federal</a>,
        <a href="https://sistema.ouvidorias.gov.br/publico/Manifestacao/RegistrarManifestacao.aspx?tipo=1&orgaoDestinatario=214460" > Controladoria Geral da União</a> e <a href="http://www.prefeitura.sp.gov.br/cidade/secretarias/controladoria_geral/denuncia/index.php?p=146695">Controladoria Geral do Município de São Paulo</a></b>, nos ofícios constam empresas que costumam atrasar, não entregar e superfaturar contratos.</p>
    </div>
  </div>
