<div class="card">
    <div class="card-body">
      <h5 class="card-title">Saiba como funciona!</h5>
      <p class="card-text">De acordo com a Lei 8666/1993, sobre licitações e contratos administrativos, o LicitaNão encontrou artigos que defendem a integridade do projeto, cujo objetivo se aplica aos casos que serão multados, que podem virar sanções, as exigências que o fornecedor deverá acarretar e das disposições gerais com os mecanismos da lei, são eles: ART.29; art.40; art.71; Seção V da Da Inexecução e da Rescisão dos Contratos; TODO O CAPÍTULO IV; CAPÍTULO V
        <p><a href="http://www.planalto.gov.br/ccivil_03/Leis/l8666cons.htm"><b>Lei 8666/1993.</b></a></p>

        <p>Bases dados que utilizamos para gerar os relatórios, foram as bases de Empresas Inidôneas e Suspensas e Lista de Favorecidos – Pessoa Jurídica.</p>
        <p>Link: <a href="http://www.portaltransparencia.gov.br/downloads">Base</a></p>
        
    </div>
  </div>