<!-- <nav class="navbar navbar-dark  ml-0 pl-0 fixed-top">
    <div class="">
        <img src="../../../assets/img/Licita.jpg">
      </div>
      <div class="pl-3">
        <img src="../../../assets/img/NAO.png">
      </div>
  <div class="" id="navbarText">
    <ul class="navbar-nav mr-auto list-inline d-inline">
      <li class="nav-item active d-inline-block">
      </li>
    </ul>
  </div> 
</nav> -->

<div class="row title">
    <div class="col-md-11">
      <div class="card">
        <div class="card-body">
          <div class="row">
          <div class="col-md-10 ">
          <h5 class="card-title text-uppercase left">Pensando em contratar ?</h5>
          <small class="card-text">Antes de efetuar um contrato verifique aqui se a empresa proposta costuma cumprir o que oferece.</small>
          </div>
          <div class="com-md-4 text-right font-weight-bold">
          <img class= "pl-5" src="../../../assets/img/NAO.png">
        </div>
      </div>
        </div>
      </div>
    </div>